.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn-search,
.btn-clear {
  margin-left: 10px;
}

.login-tips {
  color: #fff;
  font-weight: bold;
}
.login-box {
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}
.login-box input {
  margin-top: 10px;
}
.btn-login {
  margin-top: 10px;
}
